body{
    background-image: url(https://www.uoficreditunion.org/wp-content/uploads/2022/10/income-and-expenses-spot.jpg);
    background-color: rgb(175, 175, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*vh means full screen */

}
.tracker-container{
    background: rgb(74, 85, 185);
    width: 400px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.3);
}
header h1{
    text-align: center;
    font-size: 1.5rem;
    color:rgb(0, 0, 0) ;
    margin-bottom: 30px;
}
.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
input {
    padding: 12px;
    border: 2px solid #9f9f9f;
    border-radius: 9px;
    font-size: 1rem;
    outline:rgba(0, 0, 0, 0.3);
    transition: border 0.3s;
}
input:focus {
    border-color: #5ce788;
}
button {
    padding: 12px;
    background-color: #6351eb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background-color:  #000000;
}
